:host {
    padding: 15px;
}

.form-group-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &:first-of-type {
        margin-top: 10px;
    }

    mat-form-field {
        margin-right: 15px;
    }
    
    .form-field-container {
        display: flex;
        flex-direction: column;
    }
}

button {
    background: #fff;
    margin: 5px 0;
}

.delete {
    color: #c90303;
}